@import "tailwindcss";

/* Font (du hast ein Leerzeichen im Dateinamen!) */
@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraftia%20.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-minecraft {
  font-family: "Minecraft", monospace;
  line-height: 1;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}
